<div class="media">
	<div class="media-body">
		<h3><%= link_to wiki.title, wiki %> <% if wiki.is_private? %>Private <% end %></h3>
		<small>
			<p><%= markdown wiki.body %></p>
			<strong>Collaborators</strong>
			<p><% wiki.collaborators.each do |collaborator| %></p>
				<p> <%= collaborator.user.email %> </p>
			<% end %>
		</small>
	</div>
</div>