@import "bootstrap-sprockets";
@import "bootstrap";

.navblock {
	border-radius: 10px;
	border: 1px solid black;
	display: inline-block;
	padding: 5px;
	margin: 5px;

	&:hover {
		background-color: #669999;
	}
}